html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  display: block;
}

.clear {
  margin-top: 10px;
  margin-left: 240px;
  width: 100px;
  font-size: larger;
  font-weight: 800;
  border-radius: 50px;
  opacity: 0;
}

.result {
  background-color: #e7a61ae6;
  font-size: xx-large;
  text-align: center;
  border-radius: 50px;
  width: 400px;
  margin-top: -130px;
  margin-left: 90px;
  box-shadow: -9px 10px 17px -10px rgba(0,0,0,0.75);
  position: absolute;
  color: #ffff;
  text-transform: capitalize;
}



